<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Monedas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" type="image/png" href="assets/favicon.png">
</head>
<body>  
    <div class="header">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#">Conversor de Monedas</a>
                <button class="navbar-toggler" 
                        data-toggle="collapse" 
                        data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a  class="dropdown-toggle nav-link dropdown-toggle" 
                                data-toggle="dropdown" 
                                aria-expanded="false" 
                                href="">Dependencias utilizadas
                            </a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" 
                                role="presentation" 
                                href="https://free.currencyconverterapi.com" target="_blank">Free Currency API</a>
                                <a class="dropdown-item" 
                                role="presentation" 
                                href="https://cdnjs.com/libraries/axios" target="_blank">Libreria Axios</a>
                                <a class="dropdown-item" 
                                role="presentation" 
                                href="https://vuejs.org/v2/guide/components-registration.html" target="_blank">Vue JS</a>
                                <a class="dropdown-item" 
                                role="presentation" 
                                href="https://getbootstrap.com" target="_blank">Bootstrap</a></div>
                        </li>
                        <li class="dropdown col-sm-50">
                            <img src="assets/favicon.png"> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="app">
        <div class="container">
            <div class="card" >
                <div class="card-body">
                    <p class="card-text ">
                        <h4 class="card__h4">CONVERTIR</h4>
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="actual">
                                <strong>DE:</strong>
                            </label>
                            <select v-model="from" class="form-control">
                                <option :value="money.id" v-for="money in formatMoney">
                                    {{ money.currencyName  }}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="final">
                                <strong>A:</strong>
                            </label>
                            <select  v-model="to"class="form-control">
                                <option :value="money.id" v-for="money in formatMoney">
                                    {{ money.currencyName }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mt-5" >
                            <label>
                                <strong>CANTIDAD:</strong> 
                            </label>
                            <input v-model="amount"
                            type="text" 
                            class="form-control "
                            placeholder="Ingrese una cantidad">
                        </div>
                        <div class="col-sm-6 mt-auto" style="width: auto;">
                            <button :disabled="disabled"
                            @click="convertMoney()" 
                            class="btn btn-primary">CONVERTIR</button>
                        </div> 
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-12 text-center">
                            <h2>{{ calculateResult }}</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer">
            <footer>
                <label for="">
                    <em>&copy; Wendy Hernandez</em>
                </label>
            </footer>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./assets/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>